<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" href="/css/Admin-style.css"> 
    <script src="/js/logout.js" defer></script>
</head>
<body>
    <div class="container">
        <h1>Admin Page</h1>
        <h2>List of Users:</h2>
        <ul>
            {{#each users}}
            <li>
                {{this.displayName}} ({{this.email}})
                <form action="/admin/delete-user" method="post" style="display:inline;">
                    <input type="hidden" name="uid" value="{{this.uid}}">
                    <button type="submit">Delete</button>
                </form>
            </li>
            {{/each}}
        </ul>
        <form id="logout-form" action="/logout" method="post">
            <button type="submit" id="logout-button">Logout</button>
        </form>
    </div>
</body>
</html>
