<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/Home-style.css">
    <script src="/js/logout.js" defer></script>
</head>
<body>
    <div class="container">
        <h1>{{title}}</h1>
        <button id="logout-button" class="logout-button">Logout</button>
        <form action="/create" method="post">
            <input type="text" name="roomName" placeholder="Enter room name" required>
            <button type="submit">Create Room</button>
        </form>
        <h2>Chatrooms:</h2>
        <ul>
            {{#each chatrooms}}
                <li><a href="/{{name}}">{{name}}</a></li>
            {{/each}}
        </ul>
    </div>
</body>
</html>
