<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <script type="module" src="/js/firebase-auth.js" defer></script>
    <link rel="stylesheet" href="/css/Login-style.css">
</head>
<body>
    <div class="login-container">
        <button id="google-login" class="button-login">Login with Google</button>
    </div>
</body>
</html>